<html>
    <body style="margin: 0;">
        <style>

            p {
                font-family: Geneva, 'Times New Roman';
                font-size: 16px;
                color: #333333;
                margin: 1ch;
            }
        </style>
        <header class="wrapper" style="display: flex; padding: 10px; background: #e84c4c; color: #FCEEDE; font-family: Geneva, Times New Roman;">
            <h1 style="margin: 0;"> Gracias por tu compra</h1>
            <img style="margin-left: auto; width: 150px;" src="https://www.itzcoaching.com/resources/images/whlogo-M.webp" alt="itz coaching logo">
        </header>
        <div>
            <p>Querida $customer_name,</p>
            <p>Tu pago por $$$total_price MXN a sido recibido, tu cita con $expert_name se a agendado con exito.</p>
            <p>Gracias por tu compra</p>
        </div>
    </body>
</html>